html {
    font-size: 62.5%;
}

ul {
    list-style: none;
}

li {
    letter-spacing: normal;
}

* {
    margin: 0;
    padding: 0;
}

.wrap {
    display: flex;
}

.red {
    color: #e71f19;
}

.inline-block {
    display: inline-block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 20px 0;
}

table p {
    display: inline-block;
    margin-left: 2px;
}

table p, li {
    font-size: 11px;
    vertical-align: top;
}

td {
    border: 1px solid black;
    width: 145px;
    height: 120px;
    vertical-align: top;
    font-size: 0;
}

td ul{
  margin-left: 2px;
}

/*曜日*/
th {
    font-weight: normal;
    font-size: 1.9rem;
}

/*日付*/
td p:nth-of-type(1),p:nth-of-type(3){
    font-size: 2.3rem;
    font-weight: bold;
    margin-left: 6px;
}

.month > ul > li {
    margin: 7px 0;
}

/*30日＆31日の前にスペース*/
td .left-space {
    margin-left: 20px;
}

/*六曜*/
td li:nth-last-of-type(2), p:nth-of-type(2),p:nth-of-type(4) {
    margin-top: 6px;
}

/*月*/
.month {
    text-align: center;
    font-weight: bold;
    margin: 10px 30px;
}

/*AUGUST*/
.month li:nth-of-type(1) {
    font-size: 1.6rem;
}

/*8*/
.month li:nth-of-type(2) {
    background: black;
    color: white;
    font-size: 4rem!important;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: block;
    margin: 0 auto;
}

/*2020*/
.month li:nth-of-type(3){
    font-size: 2.3rem;
}